* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.navbar ul{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    gap: 30px;
    list-style: none;
}

a{
    text-decoration: none;

}